/*
*
*
*
* ██████╗ ██╗███████╗ ██████╗██╗   ██╗██╗████████╗
* ██╔══██╗██║██╔════╝██╔════╝██║   ██║██║╚══██╔══╝
* ██████╔╝██║███████╗██║     ██║   ██║██║   ██║
* ██╔══██╗██║╚════██║██║     ██║   ██║██║   ██║
* ██████╔╝██║███████║╚██████╗╚██████╔╝██║   ██║
* ╚═════╝ ╚═╝╚══════╝ ╚═════╝ ╚═════╝ ╚═╝   ╚═╝
*                          .-.
*         .'            .;|/:
*    .-..'  .-.        .;   : .-.     .;.::.
*   :   ; .;.-'       .;    :;   :    .;
*   `:::'`.`:::'  .:'.;     :`:::'-'.;'
*                (__.'      `.             ɖǟʀӄ
*                                                 
*
*/

@import url("./colors.css");

@define-color background-color @base00;
@define-color border-color @base03;
@define-color label @base0E;
@define-color image @base0E;
@define-color progress @base0A;
