/*
*
*
*
* ██████╗ ██╗███████╗ ██████╗██╗   ██╗██╗████████╗
* ██╔══██╗██║██╔════╝██╔════╝██║   ██║██║╚══██╔══╝
* ██████╔╝██║███████╗██║     ██║   ██║██║   ██║
* ██╔══██╗██║╚════██║██║     ██║   ██║██║   ██║
* ██████╔╝██║███████║╚██████╗╚██████╔╝██║   ██║
* ╚═════╝ ╚═╝╚══════╝ ╚═════╝ ╚═════╝ ╚═╝   ╚═╝
*                          .-.
*         .'            .;|/:
*    .-..'  .-.        .;   : .-.     .;.::.
*   :   ; .;.-'       .;    :;   :    .;
*   `:::'`.`:::'  .:'.;     :`:::'-'.;'
*                (__.'      `.             ɖǟʀӄ
*                                                 
*
*/

@import url("./colors.css");

@define-color selected-text @base09;
@define-color text @base0D;
@define-color base @base00;
@define-color border @base03;
@define-color foreground @base05;
@define-color background @base00;
