/*
*
*
*
* ██████╗ ██╗███████╗ ██████╗██╗   ██╗██╗████████╗
* ██╔══██╗██║██╔════╝██╔════╝██║   ██║██║╚══██╔══╝
* ██████╔╝██║███████╗██║     ██║   ██║██║   ██║
* ██╔══██╗██║╚════██║██║     ██║   ██║██║   ██║
* ██████╔╝██║███████║╚██████╗╚██████╔╝██║   ██║
* ╚═════╝ ╚═╝╚══════╝ ╚═════╝ ╚═════╝ ╚═╝   ╚═╝
*                          .-.
*         .'            .;|/:
*    .-..'  .-.        .;   : .-.     .;.::.
*   :   ; .;.-'       .;    :;   :    .;
*   `:::'`.`:::'  .:'.;     :`:::'-'.;'
*                (__.'      `.             ɖǟʀӄ
*                                                 
*
*/

@import url("./colors.css");

@define-color background alpha(@base00, 0.8);
@define-color foreground @base05;
@define-color accent @base0F;
