@define-color bg #181515;
@define-color fg #ffe9c7;
@define-color gray1 #768f80;
@define-color gray2 #725a5a;
@define-color gray3 #614f76;
@define-color gray4 #959a6b;
@define-color gray5 #7b3d79;
@define-color fg_bright #ffe9c7;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}