/*
*
*
*
* ██████╗ ██╗███████╗ ██████╗██╗   ██╗██╗████████╗
* ██╔══██╗██║██╔════╝██╔════╝██║   ██║██║╚══██╔══╝
* ██████╔╝██║███████╗██║     ██║   ██║██║   ██║
* ██╔══██╗██║╚════██║██║     ██║   ██║██║   ██║
* ██████╔╝██║███████║╚██████╗╚██████╔╝██║   ██║
* ╚═════╝ ╚═╝╚══════╝ ╚═════╝ ╚═════╝ ╚═╝   ╚═╝
*                          .-.
*         .'            .;|/:
*    .-..'  .-.        .;   : .-.     .;.::.
*   :   ; .;.-'       .;    :;   :    .;
*   `:::'`.`:::'  .:'.;     :`:::'-'.;'
*                (__.'      `.             ɖǟʀӄ
*                                                 
*
*/

@import url("./colors.css");

@define-color bg @base00;
@define-color fg @base05;
@define-color gray1 @base0B;
@define-color gray2 @base03;
@define-color gray3 @base0D;
@define-color gray4 @base0A;
@define-color gray5 @base0E;
@define-color fg_bright @base05;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}
